* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    width: 100vw;
    height: 100vh;
    background-color: #2b385b;
  }
  
  #container {
    width: 100vw;
    height: 50vh;
    position: relative;
    top: calc(50% - 25vh);
    text-align: center;
  }
  
  #card {
    width: 150px;
    height: 200px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.68);
  }
  
  #cardLaranja{
    width: 150px;
    height: 200px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.68);
    background-color: #d46707;
  }

  #estilizarTitulo{
    color: #2b385b;
    position: relative;
    top: 2vh;
  }

  #estilizarDescricao{
    color: white;
    font-size: small;
    position: relative;
    top: 6vh;
  }

  #botaoEditar{
    width: 58px;
    height: 36px;
    border-radius: 23%;
    color: white;
    background-color: rgb(0, 133, 0);
    border-style: inherit;
    position: relative;
    top: 9vh;
    right: 2px;
  }
  #botaoDeletar{
    width: 61px;
    height: 36px;
    border-radius: 22%;
    color: white;
    background-color: #ff0000;
    border-style: inherit;
    position: relative;
    top: 9vh;
    left: 2px;
  }